.form-box{
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    border: 1px solid white;
}

.form-box input{
    border-radius: 10px;
}

.form-box input:focus{
    box-shadow: 0 0 0;
    border: 1px solid #009970;
}

.form-box select{
    border-radius:10px;
}

.form-box select:focus{
    box-shadow: 0 0 0;
    border: 1px solid #009970;
}

.input-group-text{
    border-radius: 0px 10px 10px 0px;
}

.register-btn{
    background-image: linear-gradient(to right, #009970, #00995e, #009945);
    border: none;
    border-radius: 10px;
    columns: white;
}

.link{
    text-decoration: none;
    color: #009970;
}

.link:hover{
    color: #009945;
}

.text h1{
    font-size: 60px;

}

@media screen and (max-width: 992px){
    .text{
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 767px){
    .form-box{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .text h1{
        font-size: 33px;
    }
    .text h2{
        font-size: 20px;
    }
}